{% extends 'base.html.twig' %}

{% block title %}Modification Cours{% endblock %}

{% block body %}
    <h1>Modification Cours</h1>

    {{ include('admin/cours/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_cours_index') }}">retour à la liste</a>

    {{ include('admin/cours/_delete_form.html.twig') }}
{% endblock %}
