{% extends "base.html.twig" %}

{% block title %}Modifier les séjours{% endblock %}

{% block body %}

    <div class="container mt-4">
    <h1>Modifier un séjour</h1>
    
    
    {{ include("admin/retraite/_form.html.twig", 
    {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_retraite_index') }}">retour à la liste</a>
    
    {{ include('admin/retraite/_delete_form.html.twig') }}
    </div>

{% endblock %}