{% extends "base.html.twig" %}

{% block title %}Notre studio
{% endblock %}

{% block body %}
	<section class="section mt-5 mb-4">
		<div class="container">
			<div class="row">
				<h1>Notre studio</h1>

				<div class="col-md-6">
					<div>
						<img src="{{ asset ('/img/site/holisens.png')}}" class="img-fluid" alt="cours de yoga"/>
					</div>
				</div>
				<div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
					<div>
						
						<p>Bienvenue chez Holi Sens, un refuge paisible au cœur de Paris, dédié à l'épanouissement holistique de l'esprit, du corps et de l'âme. Notre studio de yoga a été fondé avec la conviction profonde que le bien-être va bien au-delà de simples postures physiques. Chez Holi Sens, nous embrassons une approche holistique du yoga, unissant la sagesse millénaire du yoga traditionnel avec une vision moderne et inclusive.</p>
						<p>
							<span style="font-weight:bold">Notre approche holistique</span><br>
							Chez Holi Sens, le yoga n'est pas simplement une pratique physique, mais plutôt un voyage intérieur vers l'harmonie et l'équilibre. Nous croyons en la puissance transformante du yoga qui va au-delà des tapis de yoga et des postures. Notre approche holistique intègre la méditation et la pleine conscience, offrant à nos membres un espace pour explorer la paix intérieure, la force mentale et la conscience spirituelle.</p>
						<p>
							

					</div>
				</div>
				
				<p class="mt-4">
					<span style="font-weight:bold">
						Des retraites bienfaisantes dans le monde entier</span><br>
					En plus de nos cours de yoga et de méditation, Holi Sens offre l'opportunité unique de participer à des retraites revitalisantes dans des destinations inspirantes à travers le monde. Ces retraites offrent une immersion profonde dans la pratique du yoga, la méditation et la connexion avec la nature, créant des souvenirs durables et des transformations profondes.</p><br>

					<p>Rejoignez-nous chez Holi Sens pour découvrir une approche holistique du bien-être, où chaque souffle devient une célébration de la vie, et chaque posture, une danse gracieuse vers l'harmonie intérieure.</p>
				<p>
					<span style="font-weight:bold">Définition du bien-être Holi Sens</span><br>
					Pour nous, le bien-être ne se mesure pas simplement par l'absence de maladies, mais par l'épanouissement global de chaque individu. Nous croyons que le bien-être émerge lorsque le corps, l'esprit et l'âme sont en harmonie. C'est un état où l'on se sent en paix avec soi-même, où l'on cultive la joie intérieure et où l'on trouve la force pour affronter les défis de la vie quotidienne.</p><br>
				<p>Chez Holi Sens, nous encourageons nos membres à écouter leur corps, à nourrir leur esprit et à honorer leur âme. Notre équipe de professeurs dévoués et passionnés guide chaque pratique avec bienveillance, créant un environnement sûr et inclusif pour tous les niveaux de praticiens.</p><br>
				<span style="font-weight:bold">Namasté,</span><br>
				<span style="font-weight:bold">L'équipe Holi Sens</span>

			</div>
		</section>


{% endblock %}
