{% extends "base.html.twig" %}

{% block title %}CGV
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Conditions Générales de Vente</h1>

		<main>
			<p>1. DÉTAILS DES CONDITIONS GÉNÉRALES DE VENTE<br>

				Les Conditions Générales de Vente de ce site web font office de socle et détaillent les objets et champs d’application de nos services de négociation commerciale.
								
								La présente CGV lie le prestataire de vente de produits ou services, nommés ci-après « société » ou « vendeur », ainsi que le partie faisant appel à ses services ou objets vendus et loués, nommé ci-après « acheteur » ou « client ».
								
								Les conditions générales présentes concernent d’une part la société :
								HOLI SENS
								Basée au 1 rue des Champs-Élysées 75008 Paris
								Immatriculée au Registre du Commerce et des Sociétés de PARIS,
								Numéro de SIRET : 12312312,
								 Au capital social de 1000 € ,
								 Représentée par : Mme Ane Lise Curial.
								
								
								D’autre part, les conditions générales présentes engagent les clients, personnes physiques ou morales ayant réglé une commande sur notre site. Elles font office de contrat des droits et des obligations conclues entre les deux parties. 
								
								La société se réserve le droit d’adapter la CGV ci-présente à tout moment, le contrat applicable étant celui consultable sur le site web à la date du paiement (ou paiement initial en cas de paiement en plusieurs fois).
								Toute transaction passée sur notre site web demande que les conditions générales de vente ci-présentes soient préalablement lues et acceptées par le client. Elles seront accessible à tout moment sur notre site web et présentées de manière claire et  au moment du paiement, à travers un clic d’acceptation pour valider son accord.</p>


			<p>2. PRIX
				<br>
				Les prix des marchandises et services applicables sont ceux affichés sur le site le jour du passage de commande. La société se réserve le droit d’adapter les prix proposés à tout moment.
								Les prix sont toujours indiqués en euros et calculés sur une base exempte des taxes. La TVA sera calculée avec majoration et affichée de manière claire et visible. 
								À cela s’ajoute d’éventuels frais de livraison et de services applicables le jour de la prise de commande, indiqués clairement et séparement du prix de la marchandise et des taxes.</p>

			<p>3. RABAIS ET RÉDUCTIONS<br>

				Les prix affichés au moment du paiement sont ceux pratiqués par la société à un moment donné. Ils peuvent donc inclure des tarifs réduits, promotions saisonnières et ponctuelles qui sont indiqués de manière claire si les détails respectifs du ou des articles sélectionnés.</p>

			<p>4. MODALITÉS DE PAIEMENT<br>

				Nous proposons plusieurs méthodes de paiement afin de vous permettre de valider vos transactions. Les moyens cités sont donc acceptés :
								- virement bancaire
								- carte bancaire VisaCard, MasterCard,
								- Paypal, Paylib, Lydia.   
								En cas de paiement en plusieurs fois, il sera demandé de respecter les délais et les montants prévus. Une somme dues, qu’elle soit partiellement ou entièrement impayée, pourra engager des frais. Un produit payé en plusieurs fois ou payé après réception demeure la propriété de la société Holi Sens jusqu’à la finalisation du paiement.</p>


			<p>5. ÉCHANGES<br>

				Sauf cas de force majeure ou de déménagement, l'achat d'une formule d'abonnement n'est ni repris ni échangé. Pour la réservation d'un séjour avec Holi Sens, aucun remboursement ne peut être effectué.</p>


		</main>
	</div>


{% endblock %}
