{% extends 'base.html.twig' %}

{% block title %}Holi Sens - Espace bien-être
{% endblock %}

{% block body %}
	{% include("partials/_carousel.html.twig") %}
	<div class="container text-center mt-4 mb-4">

		<h2>Explorez l'harmonie intérieure avec Holi Sens</h2>
		<p>Cultivez la joie intérieure chez Holi Sens, votre refuge urbain pour la détente, la transformation et la connexion profonde.</p>
	</div>

	<div class="container marketing mt-4">

		

		<!-- Trois colonnes de texte en dessous du carousel -->
		<div class="row text-center">
			<div class="col-lg-4">

				<img src={{ asset ('img/site/yoga.png') }} class="img-thumbnail rounded-circle" alt="...">
				<h2 class="fw-normal mt-2">Le yoga</h2>
				<p>Le yoga est une pratique ancestrale combinant postures physiques, techniques de respiration et méditation pour renforcer le corps et l'esprit, favorisant ainsi santé, flexibilité et sérénité.</p>
				<p>
					<a class="btn btn-secondary" href="#">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">

				<img src={{ asset ('img/site/meditation.png') }} class="img-thumbnail rounded-circle" alt="...">
				<h2 class="fw-normal mt-2">La méditation</h2>
				<p>La méditation est une pratique de concentration et de pleine conscience, visant à apaiser l'esprit, réduire le stress et améliorer la clarté mentale et émotionnelle et la présence d'esprit.</p>
				<p>
					<a class="btn btn-secondary" href="#">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src={{ asset ('img/site/retraite.png') }} class="img-thumbnail rounded-circle" alt="...">
				<h2 class="fw-normal mt-2">Les retraites</h2>
				<p>Les retraites de yoga et méditation offrent une échappée tranquille pour approfondir la pratique spirituelle, favoriser la relaxation et la connexion intérieure dans un environnement paisible.</p>
				<p>
					<a class="btn btn-secondary" href="#">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->

	</div>


{% endblock %}
