{% extends 'base.html.twig' %}

{% block title %}Holi Sens - Espace bien-être{% endblock %}

{% block body %}
		{% include("partials/_carousel.html.twig") %}


	<div
		class="container marketing mt-4">

		<!-- Trois colonnes de texte en dessous du carousel -->
		<div class="row text-center">
			<div class="col-lg-4">

				<img src={{ asset ('img/site/yoga.png') }} class="img-thumbnail rounded-circle" alt="...">
				<h2 class="fw-normal mt-2">Nos chambres</h2>
				<p>Découvrez l'essence du raffinement et du confort à travers nos chambres et suites, où chaque détail évoque l'époque grandiose de l'impératrice Eugénie, offrant un voyage inoubliable dans l'histoire et le luxe de Paris.</p>
				<p>
					<a class="btn btn-secondary" href="#">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">

				<img src={{ asset ('img/site/meditation.png') }}  class="img-thumbnail rounded-circle" alt="...">
				<h2 class="fw-normal mt-2">Le spa</h2>
				<p>Notre spa somptueux est un sanctuaire de relaxation. Profitez de soins et de massages prodigués par des professionnels expérimentés, et plongez dans notre piscine chauffée pour une expérience revigorante.</p>
				<p>
					<a class="btn btn-secondary" href="#">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img src={{ asset ('img/site/retraite.png') }}  class="img-thumbnail rounded-circle" alt="...">
				<h2 class="fw-normal mt-2">Le restaurant</h2>
				<p>Découvrez un monde de saveurs au sein de notre restaurant étoilé. Notre chef talentueux vous invite à un voyage culinaire exquis, où chaque plat est une œuvre d'art gustative. Laissez-vous séduire par une cuisine qui célèbre les traditions françaises tout en innovant avec audace.</p>
				<p>
					<a class="btn btn-secondary" href="#">Détails &raquo;</a>
				</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->

	</div>



{% endblock %}
