{% extends "base.html.twig" %}

{% block title %}Nos cours{% endblock %}

{% block body %}

<div class="container mt-4">
<h1 class="text-center">Nos séances de méditation</h1>
<p>La méditation, une pratique ancestrale centrée sur la pleine conscience et la concentration, offre de profonds bienfaits pour la santé mentale et physique. En focalisant l'attention sur le moment présent, souvent à travers la respiration ou un mantra, elle aide à réduire le stress, l'anxiété et favorise une relaxation profonde. Cette pratique régulière améliore la clarté mentale, la prise de décision, et renforce la résilience émotionnelle. Elle est également liée à une meilleure qualité de sommeil, à une diminution de la pression artérielle et à une augmentation de la satisfaction générale de la vie. Accessible à tous, la méditation peut être intégrée facilement dans la routine quotidienne, offrant un refuge tranquille dans le tumulte de la vie moderne.</p>
<div class="container">
{% include "partials/_meditation.html.twig" %}

</div>
</div>

{% endblock %}