{% extends "base.html.twig" %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Mentions Légales</h1>

		<main>
			Qui sommes-nous ?
			L’adresse de notre site est :

			<br>
			<p>Nous portons une attention particulière à la protection de vos informations personnelles. La Politique de Cookies ci-dessous explique comment Customer Generated Content utilise les informations personnelles collectées quand vous utilisez nos sites internet. Dans ce document, nous ferons référence à vous en utilisant le pronom “vous” et nous ferons référence au site en utilisant “Holi Sens” ou “nous”. Nous mentionnerons nos sites internet comme des “SERVICES”.</p><br>

			<p>Informations collectées
				Informations que vous nous fournissez volontairement<br>
				1.1. Dans certaines parties de nos SERVICES, vous serez probablement invité à nous fournir des informations personnelles comme :<br>
				•	Adresse email
				•	Adresse de facturation
				•	Adresse de livraison
				•	Numéro de téléphone
				•	Nom complet
				•	Genre<br>
				Cela comprend des informations que vous choisissez de nous fournir.<br>
				1.2. Cela peut aussi comprendre des informations collectées par des cookies ou autre technologie similaire – nos cookies ne collectent que des informations anonymisées. Vous trouverez plus d’informations sur nos cookies dans notre Politique de Cookies.<br>
				Informations collectées automatiquement lorsque vous acceptez d’utiliser nos SERVICES<br>

				1.3. Quand vous naviguez sur notre site internet, Holi Sens collecte votre adresse IP. Cette donnée est ensuite anonymisée.<br>
				1.4. Nous collectons aussi certaines informations via des
				fonctionnement qui permettent à notre site de fonctionner correctement.<br>
				Collecte de données et stockage
				Vous fournissez directement à Holi Sens les informations que nous collectons. Nous collectons des données quand vous :<br>
				•	Utilisez nos SERVICES
				•	Renseignez votre adresse mail afin de recevoir des informations
				supplémentaires et/ou les actualités de Holi Sens.
				•	Nous contactez par email.<br>
				Les informations ainsi collectées sont stockées sur un serveur qui est sous le contrôle des équipes techniques de Holi Sens et de notre hébergeur. Ce serveur est fourni par un fournisseur spécialisé qui a été sélectionné selon le Règlement Général sur la Protection des Données et en fonction des critères suivants : la fiabilité, la sécurité et le coût.</p><br>
			<p>Utilisation des données<br>
				Holi Sens ne traite que les données que vous nous avez volontairement données. Les données personnelles sont utilisées par les
				de Holi Sens et peuvent faire l’objet d’une analyse interne. est responsable du traitement de ces données. Les informations personnelles collectées via nos SERVICES sont utilisées par Holi Sens pour :<br>
				Services Marketing et Data
				•	Partager les actualités de Holi Sens
				•	Partager les dernières mises à jour de nos SERVICES
				•	Partager des informations en lien nos SERVICES
				•	Personnaliser et améliorer votre expérience avec Holi Sens
				•	Personnaliser les messages qui vous sont envoyés
				•	Améliorer la qualité des services de Holi Sens
				•	Vous permettre d’accéder à nos SERVICES
				•	Vous fournir une assistance pour utiliser nos SERVICES<br>
				Les données anonymisées collectées par des cookies sont utilisées pour analyser la performance et les statistiques de nos SERVICES. Plus de détails dans la partie Cookies ci-dessous.</p><br>
			<p>Combien de temps les données sont-elles conservées ?
				Holi Sens conserve les données personnelles que vous fournissez jusqu’à 10 ans après votre dernière utilisation de nos SERVICES ou après votre dernière interaction avec nos équipes. Les données peuvent être utilisées à des fins Marketing ou pour des analyses statistiques. A expiration de ce lapse de temps, Holi Sens supprimera vos données en retirant votre adresse mail et votre nom de ses listes d’emailing et/ou en mettant fin à toute interaction avec vous.</p><br>
			<p>Partage de données<br>
				Nous vous informons que toute information personnelle collectée par Holi Sens ne sera utilisée que pour notre usage personnel. De plus, ces données peuvent être communiquées à certains partenaires Holi Sens dans le cadre de notre développement (ex: agence de conseil, agence de communication, fournisseurs de systèmes d’information). Ces données ne seront pas utilisées à des fins commerciales par les partenaires de  Holi Sens et ne seront utilisées que dans le cadre de leurs missions. Lorsque ces données sont partagées avec nos partenaires, elles sont toujours traitées et pseudonymisées, selon le Règlement Général de la Protection des Données.</p><br>
			<p>Votre droit d’accès et de contrôle de vos données<br>
				A tout moment, vous avez le droit d’accéder, de modifier ou de supprimer les informations personnelles qui vous concernent. Vous avez aussi le droit de limiter la manière dont  Holi Sens utilise vos données et d’exercer votre droit de portabilité selon le RGPD en contactant le Délégué à la Protection des Données à l’adresse suivante :
				<a href="mailto:contact@holisens.com">Envoyer un mail</a>.<br>
				Cela signifie que chaque utilisateur possède les droits suivants :
				•	Le droit d’accès – vous avez le droit de demander à Holi Sens une copie de vos données personnelles.
				•	Le droit de rectification – vous avez le droit de demander à ce que Holi Sens corrige toute information que vous jugez incorrecte. Vous avez aussi le droit de demander à Holi Sens de compléter les informations que vous jugez incomplètes.
				•	Le droit de suppression – vous avez le droit de demander à ce que Holi Sens  efface vos données personnelles, sous certaines conditions.
				•	Le droit de restreindre le traitement – vous avez le droit de demander à ce que Holi Sens restreigne le traitement de vos données personnelles, sous certaines conditions.
				•	Le droit d’opposition au traitement – vous avez le droit de refuser que Holi Sens traite vos données personnelles, sous certaines conditions.
				•	Le droit de portabilité des données – vous avez le droit de demander à ce que Holi Sens transfère les données collectées à une autre organisation ou à vous-même, sous certaines conditions.
				Vous êtes informé que vous avez le droit d’adresser une plainte à toute autorité compétente de la protection des données.</p><br>
			<p>Politique de confidentialité des autres sites internet<br>
				Le site internet de Holi Sens contient des liens vers d’autres sites internet. Notre Politique de Confidentialité n’est applicable qu’à notre site internet. Si vous cliquez sur un lien qui vous amène sur un autre site internet, vous devriez donc leur propre Politique de Confidentialité pour en savoir plus.
				Modification de notre politique de Confidentialité</p><br>
			Holi Sens opère une revue régulière de sa Politique de Confidentialité. Cette Politique de Confidentialité a été mise à jour le 10/11/2023.<br>
			<p>Comment nous contacter<br>
				Pour toute question relative à notre Politique de Confidentialité, les données que nous possédons à votre sujet ou si vous souhaitez exercer l’un de vos droits, n’hésitez pas à nous contacter.
				•	Par email :
				<a href="mailto:contact@yholisens.com">Envoyer un mail</a>
				•	Par courrier : Holi Sens 1 rue des Champs Elysées 75008 Paris</p><br>
			<p>Comment contacter les autorités compétentes ?<br>
				Si vous désirez reporter une plainte ou si vous pensez que Holi Sens n’a pas répondu à vos interrogations correctement, vous avez la possibilité de contacter la CNIL : h ttps://www.cnil.fr/en/plaintes.</p><br>

			Cookies<br>
			1.	Qu’est-ce qu’un cookie ?<br>
			Les cookies sont des fichiers textes placés par le serveur d’un site internet sur votre ordinateur ou votre appareil mobile quand vous consultez un site internet afin de collecter les informations standard de connexion internet ainsi que les informations de comportement du visiteur du site internet. Lorsque vous visitez le site internet de Holi Sens, nous sommes susceptibles de collecter des informations via des cookies ou toute autre technologie similaire.
			Merci de noter que nos cookies ne collectent que des informations anonymisées et ne collectent aucune information personnelle à votre sujet.<br>
			2.	Notre utilisation des cookies<br>
			Nous utilisons des cookies de plusieurs manières afin d’améliorer votre expérience sur notre site internet et notamment en comprenant comment vous utilisez notre site internet.<br>
			3.	Types de cookies<br>
			Il existe plusieurs sortes de cookies. Cependant, Holi Sens n’utilise actuellement que les suivants :
			COOKIE TECHNIQUE (Extension Cookie Notice)
			Ce cookie nous permet de savoir si vous avez accepté ou non que notre site dépose des cookies pour améliorer votre navigation sur notre site.
			Ces informations nous aident à comprendre vos attentes et préférences. Analyser ces données nous permet d’améliorer nos SERVICES et opérations.
			La manière dont vous utilisez notre site internet
			La durée moyenne de vos visites
			Le type d’appareil que vous utilisez pour naviguer sur notre site internet (ordinateur,
			téléphone, tablette etc.)
			L’origine de votre visite (pays, ville, par un moteur de recherche, par un lien trouvé sur
			un autre site internet etc.)
			Le navigateur que vous utilisez
			Les pages que vous consultez
			Votre navigation sur notre site internet
			La proportion de nouveaux visiteurs
			Affichage : Comment nos pages web s’affichent sur ordinateur, mobile et tablette
			Durée : Combien de temps il faut au contenu pour se charger, rapidité d’affichage de la page etc.<br>
			4.	Comment gérer vos cookies ?<br>
			Si vous souhaitez modifier ou supprimer vos cookies, vous pouvez le faire directement depuis votre navigateur.
			Sur Mozilla Firefox :
			1.	Choisissez le menu « Outil » > « Options »
			2.	Cliquez sur l’icône « Vie privée »
			3.	Dans le menu « Cookie », sélectionnez les options qui vous conviennent
			Sur Microsoft Edge :
			1.	Choisissez le menu « Outils » puis « Options Internet »
			2.	Cliquez sur l’onglet « Confidentialité »
			3.	Sélectionnez le niveau de confidentialité souhaité à l’aide du curseur
			Sur Chrome :
			1.	Choisissez le menu « Edition » > « Préférences »
			2.	Cliquez sur l’option « Données personnelles »
			3.	Rubrique « Cookies »
			Sur Safari :
			1.	Choisissez le menu « Edition » > « Préférences »
			2.	Cliquez sur l’option « Données personnelles »
			3.	Rubrique « Cookies »
			Sur Opera
			1.	Choisissez le menu « Préférences » > « Avancé » > « Cookies»
			2.	Choisissez l’option souhaitée : accepter les cookies, accepter seulement ceux du Site visité, ou ne jamais accepter les cookies
			Nous vous invitons à consulter le menu d’aide de votre navigateur pour plus de détails.<br>
			5.	Durée de conservation des données collectées par les cookies ?<br>
			Les données collectées par nos cookies (voir notre Politique de Confidentialité) ne sont pas stockées plus de 10 ans. Nous informons aussi que vous devrez réaccepter notre Politique de Cookies 13 mois après votre première acceptation.<br>


			<p>Contenu embarqué depuis d’autres sites
				Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site.
				Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.
			</p>
		</main>
	</div>


{% endblock %}
