<!-- Footer -->
<footer
	class="bg-dark text-center text-white mt-3">
	<!-- Grid container -->
	<div
		class="container p-4 text-center">


		<!-- Section: Form -->
		<section class="">
			<form
				action=" ">
				<!--Grid row-->
				<div
					class="row d-flex justify-content-center">
					<!--Grid column-->
					<div class="col-auto">
						<p class="pt-2">
							<strong>S'inscrire à la newsletter</strong>
						</p>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div
						class="col-md-5 col-12">
						<!-- Email input -->
						<div class="form-outline form-white mb-4">

							<input type="email" id="form5Example21" class="form-control"/>
							<label class="form-label" for="form5Example21">Adresse e-mail</label>
						</div>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div
						class="col-auto">
						<!-- Submit button -->

						<button type="submit" class="btn btn-outline-light mb-4">
							S'inscrire
						</button>
					</div>
					<!--Grid column-->
				</div>
				<!--Grid row-->
			</form>
		</section>
		<!-- Section: Form -->

		{# <!-- Section: Text -->
						    <section class="mb-4">
						      <p>
						        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
						        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
						        eum harum corrupti dicta, aliquam sequi voluptate quas.
						      </p>
						    </section>
						    <!-- Section: Text --> #}

		<!-- Section: Social media -->
			<section class="mb-4"> <div
				class="container justify-content-center">

				<!-- Facebook -->
				<a class="btn btn-floating m-1" style="font-size: 20px; color: cornflowerblue;" href="#!" role="button">
					<i class="bi bi-facebook"></i>
				</a>

				<!-- Instagram -->
				<a class="btn btn-floating m-1" style="font-size: 20px; color: #405de6;" href="#!" role="button">
					<i class="bi bi-instagram"></i>
				</a>

				<!-- Pinterest -->
				<a class="btn btn-floating m-1" style="font-size: 20px; color: #c8232c;" href="#!" role="button">
					<i class="bi bi-pinterest"></i>
				</a>

				<!-- Linkedin -->
				<a class="btn btn-floating m-1" style="font-size: 20px; color: #0072b1;" href="#!" role="button">
					<i class="bi bi-linkedin"></i>
				</a>

				<!-- Twitter -->
				<a class="btn btn-floating m-1" style="font-size: 20px; color: #1DA1F2;" href="#!" role="button">
					<i class="bi bi-twitter"></i>
				</a>

				<!-- Print -->
				<a class="btn btn-floating m-1" style="font-size: 20px; color: #bebebe;" href="#" onclick="window.print();return false;" role="button">
					<i class="bi bi-printer"></i>
				</a>
			</section>
		</div>

		<!-- Section: Social media -->

		<!-- Section: Links -->
		<section
			class="">
			<!--Grid row-->
			<div
				class="row justify-content-center mb-3">
				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-white">liens utiles</h5>

					<ul class="list-unstyled mb-0">
						<li>
							<a href="{{ path('app_mentions')}}" class="text-white">Mentions Légales</a>
						</li>
						<li>
							<a href="{{ path('app_cgv')}}" class="text-white">CGV</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->

				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-white">contact</h5>

					<ul class="list-unstyled mb-0">
						<li>
							<a href="{{ path('app_contact')}}" class="text-white">Contact</a>
						</li>
						<li>
							<a href="#" onclick="window.print();return false;" class="text-white">Imprimer la page</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->


				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-white">Rechercher</h5>
					<!-- Barre de recherche -->
					<div class="input-group rounded">
						<input type="search" class="form-control rounded" placeholder="rechercher sur le site" aria-label="Search" aria-describedby="search-addon"/>
						<span class="input-group-text border-0" id="search-addon">
							<i class="bi bi-search"></i>
						</span>
					</div>
					<!-- Fin barre de recherche -->

				</div>
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</section>
		<!-- Section: Links -->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2023 Copyright:
		<a class="text-white" href="https://mdbootstrap.com/">GD</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
