{% extends 'base.html.twig' %}

{% block title %}Modifier Membre
{% endblock %}

{% block body %}
	<h1 class="text-center">Modifier Membre</h1>

	<div class="container">
		{{ include('membre/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		<a href="{{ path('app_membre_index') }}">retour à la liste</a>

		{{ include('membre/_delete_form.html.twig') }}
	</div>


{% endblock %}
