{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1 class="display-4 text-center my-4">BACKOFFICE</h1>

		<p class="text-center">Bienvenue sur votre back-office</p>

		<a href="{{ path('app_cours_index')}}" class="col-md-6 offset-md-3 btn btn-light mb-2">GESTION DES COURS</a>
		<a href="{{ path('app_retraite_index')}}" class="col-md-6 offset-md-3 btn btn-light mb-2">GESTION DES RETRAITES</a>
		<a href="" class="col-md-6 offset-md-3 btn btn-light mb-2">GESTION DES MEMBRES</a>
		<a href="" class="col-md-6 offset-md-3 btn btn-light mb-2">GESTION DES RESERVATIONS</a>

	</div>


{% endblock %}
