{% extends 'base.html.twig' %}

{% block title %}Planinng cours{% endblock %}


{% block body %}
<div class="container mt-4">
<h1>Le planning des cours</h1>
</div>
<div id='calendar'></div>

{% endblock %}