{% extends 'base.html.twig' %}

{% block title %}Paiement accepté
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Merci pour votre commande</h1>
		<p>
			Votre paiement a été accepté.
			      Pour toute question, vous pouvez un email à :
			<a href="mailto:commande@yogasite.com">Envoyer un mail au service client</a>.
		</p>

	</div>
{% endblock %}
